---
import TasksCard from "./TasksCard.astro";
---

<main
  class="w-full min-h-screen bg-gradient-to-br from-[#153677] to-[#4e085f] p-2.5"
>
  <div
    class="w-full max-w-screen-xl bg-white mt-24 mb-5 mx-auto pt-10 pb-16 px-8 rounded-lg"
  >
    <h2 class="text-xl font-bold text-gray-800 flex items-center mb-5">
      To-Do List
    </h2>
    <container class="flex items-center justify-center pl-5 mb-6">
      <!--<input
          type="text"
          id="input-box"
          placeholder="Escribe el título de tu tarea"
          class="flex-1 border-none outline-none bg-transparent p-3"
        />-->
      <button
        id="addBut"
        class="p-4 rounded-full bg-[#a49aff] font-semibold w-auto h-auto text-l"
        >Crear tarea</button
      >
    </container>
    <container
      class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 mx-1 p-4 items-center"
    >
      <TasksCard title="URGENTE" priority="urg" />
      <TasksCard title="MENOS URGENTE" priority="mid" />
      <TasksCard title="NO URGENTE" priority="low" />
    </container>
  </div>
</main>

<script>
  //const inputBox = document.getElementById("input-box");
  const urgentLC = document.getElementById("urgent-list-container");
  const addButton = document.getElementById("addBut");
  /*function addTarea() {
    /*if (inputBox?.value === "") {
      alert("Debes poner el título de la tarea");
    } else {
    let li = document.createElement("li");
    li.innerHTML = "hola"; //inputBox?.value;
    li.className = "list-none font-normal text-lg select-none cursor-pointer";
    urgentLC?.appendChild(li);
  }
  //}*/

  addButton?.addEventListener("click", function addTarea() {
    console.log("Test");
    let form = document.createElement("form");
    let form_title = document.createElement("label");
    let task_box_title = document.createElement("input");
    let task_box_description = document.createElement("textarea");
    let form_button = document.createElement("input");

    form.setAttribute("method", "post");
    form.setAttribute("action", "");
    //Añadir formato con tailwind

    task_box_title.setAttribute("type", "text");
    task_box_title.setAttribute("placeholder", "Título de la tarea");
    //Añadir formato con tailwind

    task_box_description.setAttribute("placeholder", "Descripción de la tarea");
    //Añadir formato tw

    form_button.setAttribute("type", "button");
    form_button.setAttribute("value", "Agregar");
    form_button.setAttribute("onclick", "alert('Tarea añadida')");

    form_title.innerHTML = "<h2>Información de la tarea</h2>"; //Añadir TW
    form.appendChild(form_title);
    form.appendChild(task_box_title);
    form.appendChild(task_box_description);
    form.appendChild(form_button);
  });

  const items = document.querySelectorAll(".item");
  const lists = document.querySelector("#urg-list-container");
  items.forEach((item) => {
    item.addEventListener("dragstart", () => {
      item.classList.add("dragging");
    });
    item.addEventListener("dragend", () => item.classList.remove("dragging"));
  });

  //lists.forEach((list) => {
  const initList = (e) => {
    const draggingItem = lists?.querySelector(".dragging");
    const siblings = [...lists.querySelectorAll(".item:not(.dragging)")];
    let nextSib = siblings.find((sibling) => {
      return e.clientY <= (sibling.offsetTop + sibling.offsetHeight) / 1.2;
    });

    lists.insertBefore(draggingItem, nextSib);
  };
  lists.addEventListener("dragover", initList);
</script>
