---
import HomeIcon from "../icons/HomeIcon.astro";
import AboutIcon from "../icons/AboutIcon.astro";
import TestIcon from "../icons/TestIcon.astro";
---

<nav
  class="absolute text-center top-[42%] left-1 max-h-3/6 h-auto bg-gray-400 bg-opacity-65 w-6 rounded-full m-1 text-slate-700"
>
  <a class="p-1" href="/"><HomeIcon /></a>
  <a class="p-1" href="/about"><AboutIcon /></a>
  <a class="p-1" href="/test"><TestIcon /></a>
  <!--<a href="/about">Sobre el proyecto</a>-->
</nav>
