---

---

<div
  class="w-full max-w-screen-xl h-96 bg-white bg-opacity-80 mt-24 mb-5 mx-auto pt-10 pb-16 px-8 rounded-lg text-center transition ease-in-out hover:bg-opacity-100"
>
  <h2 class="text-center text-xl font-bold text-gray-800 mb-5">
    Añadiendo Tarea
  </h2>
  <container class="flex">
    <form action="" method="post" id="taskForm" class="w-full h-full">
      <input
        type="text"
        placeholder="Nombre de la tarea"
        class="w-full bg-slate-700 bg-opacity-25 rounded-lg p-2 text-gray-700 my-3"
      />
      <textarea
        form="taskForm"
        placeholder="Descripción de la tarea"
        class="w-full min-h-[7rem;] max-h-[10rem;] bg-slate-700 bg-opacity-25 rounded-lg p-2 text-gray-700 my-3"
      ></textarea>
      <button
        class="transition ease-out bg-gradient-to-br from-[#153677] to-[#4e085f] text-slate-400 hover:scale-110 hover:bg-gradient-to-br hover:from-slate-800 hover:to-slate-400 hover:text-white p-2 rounded-lg"
        type="submit"
        onclick="alert('Tarea añadida')">Agregar</button
      >
    </form></container
  >
</div>
